= form_for([@location, @ad], :html => {:multipart => true,:class=>'ad_form_rv'} ) do |f|
  %div.centered
    - if !@ad.errors[:terms_of_service].blank?
      %div.centered{:style => "width:973px;color:red;padding-bottom:10px;"}
        Terms & conditions 
        = @ad.errors[:terms_of_service].first
    %div.centered{:style => "width:973px;"}
      %div{:style => "margin:20px 0 4px 0;"}
        Short message
      = f.text_field :message, :style => "border:solid 1px #ccc;width:400px;padding:8px;"
      %br
      %div{:style => "margin:20px 0 4px 0;"}
        Email address
      = f.text_field :contact, :style => "border:solid 1px #ccc;width:400px;padding:8px;"
      %br
      %div{:style => "margin:20px 0 4px 0;"}
        Suburb
      = f.text_field :suburb, :style => "border:solid 1px #ccc;width:400px;padding:8px;"
      %br
      %div{:style => "margin:20px 0 4px 0;"}
        Address
      = f.text_area :address, :rows=>"5", :style => "border:solid 1px #ccc;width:400px;padding:8px;"
      %br
      %br
      %div
        #location_photos
          %b Add Photos
          = f.fields_for :location_photos, @location do |photo|
            = render 'locations/location_photos_fields', :f => photo
          .links
            = link_to_add_association  image_tag('/assets/add.gif'), f, :location_photos,:partial => 'locations/location_photos_fields'
        
      %br
      = f.check_box :terms_of_service
      %a{:href => "/terms-and-conditions",:target=>"_blank"} Accept terms & conditions
      %br
      = f.submit 'Add an Ad'


:css
  .field_with_errors input{ border:1px dashed red !important;}