%h2 Add an Ad

= form_for [@location, @ad] do |f|
  %div.centered
    %div.centered{:style => "width:973px;"}
      %div{:style => "margin:20px 0 4px 0;"}
        Short message
      = f.text_field :message, :style => "border:solid 1px #ccc;width:400px;padding:8px;"
      %br
      %div{:style => "margin:20px 0 4px 0;"}
        Contact info
      = f.text_field :contact, :style => "border:solid 1px #ccc;width:400px;padding:8px;"
      %br
      %div{:style => "margin:20px 0 4px 0;"}
        Suburb
      = f.text_field :suburb, :style => "border:solid 1px #ccc;width:400px;padding:8px;"
      %br
      %div{:style => "margin:20px 0 4px 0;"}
        Address
      = f.text_area :address, :rows=>"5", :style => "border:solid 1px #ccc;width:400px;padding:8px;"
      %br
      = f.submit 'Add an Ad'
