= form_tag '/search', method: :get do
  %div.left
    = label_tag 'app', 'App / House #'
    = text_field_tag 'app', params[:query], placeholder: 'Optional'
  %div.right	 
    = label_tag 'query', 'Search by address or location'
    = text_field_tag 'query', params[:query], placeholder: 'Enter a search'
    = submit_tag 'Search', name: nil