
%div.left-bar
  %div#mapBox{:style => "display:none;"}
    %div#reviewMap{:style => "width:800px;height:500px;"}
      %iframe{:frameborder => "0", :scrolling => "no", :marginheight => "0", :marginwidth => "0", :src => "http://maps.google.com.uy/maps?q=#{@location.address1},#{@location.city},#{@location.country}&hl=en&ie=UTF8&hq=&hnear=#{@location.address1},#{@location.city},#{@location.region},#{@location.country}&t=m&z=15&output=embed", :width => "800", :height => "300"}
      %iframe{:frameborder => "0", :scrolling => "no", :marginheight => "0", :marginwidth => "0", :src => "http://maps.google.com.uy/maps?q=#{@location.address1},#{@location.city},#{@location.country}&hl=en&ie=UTF8&hq=&hnear=#{@location.address1},#{@location.city},#{@location.region},#{@location.country}&t=m&z=15&output=svembed&layer=c&panoid=0&cbp=0,,0,0", :width => "800", :height => "200"}

      -#%iframe{:frameborder => "0", :scrolling => "no", :marginheight => "0", :marginwidth => "0", :src => "https://maps.google.com/maps?q=#{@location.address1},#{@location.city},#{@location.country}&hl=en&ie=UTF8&hq=&hnear=#{@location.address1},#{@location.city},#{@location.country}&t=m&z=14&ll=#{@location.latitude},#{@location.longitude}&output=embed", :width => "800", :height => "500"}
	
  %ul.review-bloqs
    %li
      %article.mod-review
        %figure
          - if !@location.location_photos[0].blank?
            %img{:src => "#{@location.location_photos[0].photo.url(:medium)}"}
            %figcaption
              %a{:href => "/"} #{@location.address1}
          - else
            %img{:src => "http://maps.google.com/maps/api/staticmap?center=#{@location.latitude},#{@location.longitude}&markers=color:red|#{@location.latitude},#{@location.longitude}&zoom=14&size=300x248&sensor=false&key=AIzaSyDBErX3M80EQqJ0JSWjRdYINF6WuGXUQo0&maptype=roadmap", :width => "300", :height => "248"}
        %div.buttons
          %a.open-map{:href => "#reviewMap", :class=> 'fancybox-media'} See map
          %a.add-review-btn{:href => "/locations/#{@location.id}/reviews/new",:style=>"text-shadow: 1px 1px 0px #404040;"} Add Review
          %a.add-ad-btn{:href => "/locations/#{@location.id}/ads/new",:style=>"text-shadow: 1px 1px 0px #404040;"} Create Free Ad
        - if !@location.ads.blank?
          %br
          %h2{:style=>"color:#6E6E6E;"}
            Places for Rent nearby
          %ul.review-list
            - @location.ads.each do |ad|
              %li
                %div.review
                  %div
                    - if !ad.user.profile_image_url.blank?
                      - if ad.user.authorizations.first.provider == 'twitter' && !ad.user.authorizations.first.username.nil?
                        %a{:href => "http://twitter.com/#{ad.user.authorizations.first.username}",:target=>'_blank'}
                          %img{:src => "#{ad.user.profile_image_url}",  :style => "width:40px;"}
                      - elsif ad.user.authorizations.first.provider == 'facebook' && !ad.user.authorizations.first.username.nil?
                        %a{:href => "http://www.facebook.com/#{ad.user.authorizations.first.username}",:target=>'_blank'}
                          %img{:src => "#{ad.user.profile_image_url}",:style => "width:40px;"}
                      - else
                        %img{:src => "#{ad.user.profile_image_url}",:style => "width:40px;"}
                  %div
                    %span.name #{ad.user.first_name} #{ad.user.last_name}
                    %span{:style=>"float:right;"}
                      - if current_user
                        - if current_user.id == ad.user.id
                          = link_to "Edit",edit_location_ad_path(ad.location,ad),:style=>"color:#4ec8fb;"
                    %div
                      %span{:style=>"font-weight:bold;"}
                        Last Updated:
                      = ad.try(:updated_at).strftime('%Y-%m-%d %H:%M')
                  -#%p.contact-info{:style => "font-size:11px;color:#666;"}
                    -#Contact info:
                    -#= ad.contact
                  %p{:style => "font-style:italic;"}
                    = ad.message
      
    %div.rev-shadow
       
%div.main-bar#mainRightBar
  %section.review-page
    %iframe{:frameborder => "0", :scrolling => "no", :marginheight => "0", :marginwidth => "0", :src => "http://maps.google.com.uy/maps?q=#{@location.address1},#{@location.city},#{@location.country}&hl=en&ie=UTF8&hq=&hnear=#{@location.address1},#{@location.city},#{@location.region},#{@location.country}&t=m&z=15&output=svembed&layer=c&panoid=0&cbp=0,,0,0", :width => "625", :height => "250"}
    %h1{:style=>"color:#6E6E6E;margin-top:10px;"}
      = @location.address1
      %span{:style=>"color:#6E6E6E;"}
        = @location.city + ", " + @location.country
  
    %div.gallery
      - @ads.each do |ad|
        - if !ad.location_photos.blank?
          - ad.location_photos.each_with_index do |photo,index|          
            %a{:href => "#{photo.photo.url(:large)}", :rel => 'gallery', :title => "#{@location.address1}", :class => "fancybox"}
              %img{:src => "#{photo.photo.url(:thumb)}"}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 
    - if !@location.blank?
      %section.add-sec
        - if !@reviews.blank?
          %h2{:style=>"color:#6E6E6E;"} Reviews
          %ul.add-list
            - @reviews.each do |review|
              - if !review.user.blank?
                %li
                  %article.add
                    %div.profile
                      - if !review.user.profile_image_url.blank?
                        - if review.user.authorizations.first.provider == 'twitter' && !review.user.authorizations.first.username.nil?
                          %a{:href => "http://twitter.com/#{review.user.authorizations.first.username}",:target=>'_blank'}
                            %img{:src => "#{review.user.profile_image_url}",:style => "width:40px;"}
                        - elsif review.user.authorizations.first.provider == 'facebook' && !review.user.authorizations.first.username.nil?
                          %a{:href => "http://www.facebook.com/#{review.user.authorizations.first.username}",:target=>'_blank'}
                            %img{:src => "#{review.user.profile_image_url}",:style => "width:40px;"}
                        - else
                          %img{:src => "#{review.user.profile_image_url}",:style => "width:40px;"}
                      %span
                        - if !@location.location_photos.blank?
                          - review.location_photos.each_with_index do |photo,index|
                            %a{:href => "#{photo.photo.url(:large)}", :rel => 'gallery', :title => "#{@location.address1}", :class => "fancybox"}
                              - if index < 6
                                %img{:src => "#{photo.photo.url(:thumb)}"}
                        %br/
                        %br/
                        %br/
                        %br/
                        %br/
                        %br/

                      %span.name
                        = review.user.first_name.to_s + " " + review.user.last_name.to_s
                      %span{:style=>"float:right;"}
                        - if current_user
                          - if current_user.id == review.user.id
                            = link_to "Edit Review",edit_location_review_path(review.location,review)
                        %span{:style=>"font-weight:bold;margin-left:5px;"}
                          Last Updated:
                        = review.try(:updated_at).strftime('%Y-%m-%d %H:%M')                         
                      %p.message
                        = review.message
                      %br
          %h2{:style=>"color:#6E6E6E;"} Agent review
          %div.agent_review{:style=>"padding-left:82px;padding-top:10px;"}
            = form_tag  do 
              = text_area_tag 'agent_review', nil, :size => "50x5"
              %br
              = submit_tag "Submit", :class=>"agent-review-submit", :style=>""


  %div.rev-shadow-large
%section.tabs
  %div.tabs-container
    %ul.tabs-tabs
      %li
        %a{:href=>"#1"} Latest locations
      %li
        %a{:href=>"#2"} Most popular places
      - if !current_user.nil?
        %li
          %a{:href=>"#3"} My reviews
        
    %div.tabs-content{:name =>"#1"}
      %ul
        - @latests_locations.each do |location|
          - if !location.reviews[0].blank?
            - if !location.reviews[0].user.blank?
              %li
                %ul
                  %li.day{:style => "min-width:100px;max-width:100px;"}
                    = time_ago_in_words(location.created_at)
                  %li.address{:style => "min-width:325px;max-width:325px;"}
                    %a{:href => "/locations/#{location.id}/reviews"}
                      = location.address1[0, 30] + ", " + location.city + ", " + location.country
                  %li.review-number
                    %a{:href => "/locations/#{location.id}/reviews", :style => "color:#2A282D;"}
                      #{location.reviews.size} review
                  %li.friends
                    - if !location.reviews[0].user.profile_image_url.blank?
                      - if location.reviews[0].user.authorizations.first.provider == 'twitter' && !location.reviews[0].user.authorizations.first.username.nil?
                        %a{:href => "http://twitter.com/#{location.reviews[0].user.authorizations.first.username}",:target=>'_blank'}
                          %img{:src => "#{location.reviews[0].user.profile_image_url}", :alt =>"#{location.reviews[0].user.first_name}", :style => "width:45px;"}
                      - elsif location.reviews[0].user.authorizations.first.provider == 'facebook' && !location.reviews[0].user.authorizations.first.username.nil?
                        %a{:href => "http://www.facebook.com/#{location.reviews[0].user.authorizations.first.username}",:target=>'_blank'}
                          %img{:src => "#{location.reviews[0].user.profile_image_url}", :alt =>"#{location.reviews[0].user.first_name}", :style => "width:45px;"}
                      - else
                        %img{:src => "#{location.reviews[0].user.profile_image_url}"}
                    %span
                      %a{:href => "/locations/#{location.id}/reviews", :style => "color:#2A282D;"}
                        = location.reviews[0].message[0, 40] + ".."
                    
                    
    %div.tabs-content{:name =>"#2"}
      %ul
        %li
          %table
            - @popular_locations.each do |location|
              - if !location.reviews[0].blank?
                - if !location.reviews[0].user.blank?
                  %li
                    %ul
                      %li.address{:style => "min-width:370px;max-width:370px;"}
                        %a{:href => "/locations/#{location.id}/reviews"}
                          = location.address1[0, 40] + ", " + location.city + ", " + location.country
                      %li.review-number{:style => "min-width:60px;max-width:60px;"}
                        %a{:href => "/locations/#{location.id}/reviews", :style => "color:#2A282D;"}
                          #{location.reviews.size} reviews
                      %li.friends
                        - if !location.reviews[0].user.profile_image_url.blank?
                          - if location.reviews[0].user.authorizations.first.provider == 'twitter' && !location.reviews[0].user.authorizations.first.username.nil?
                            %a{:href => "http://twitter.com/#{location.reviews[0].user.authorizations.first.username}",:target=>'_blank'}
                              %img{:src => "#{location.reviews[0].user.profile_image_url}", :alt =>"#{location.reviews[0].user.first_name}", :style => "width:45px;"}
                          - elsif location.reviews[0].user.authorizations.first.provider == 'facebook' && !location.reviews[0].user.authorizations.first.username.nil?
                            %a{:href => "http://www.facebook.com/#{location.reviews[0].user.authorizations.first.username}",:target=>'_blank'}
                              %img{:src => "#{location.reviews[0].user.profile_image_url}", :alt =>"#{location.reviews[0].user.first_name}", :style => "width:45px;"}
                          - else
                            %img{:src => "#{location.reviews[0].user.profile_image_url}"}
                        %span
                          %a{:href => "/locations/#{location.id}/reviews", :style => "min-width:200px;max-width:200px;color:#2A282D;"}
                            = location.reviews[0].message[0, 50] + ".."

    %div.tabs-content{:name =>"#3"}
      %ul
        %li
          %table
            - if !@my_reviews.blank?
              - @my_reviews.each do |review|
                %li
                  %ul
                    %li.address{:style => "min-width:370px;max-width:370px;"}
                      %a{:href => "/locations/#{review.location.id}/reviews"}
                        = review.location.address1[0, 40] + ", " + review.location.city + ", " + review.location.country
                    %li.day{:style => "min-width:100px;max-width:100px;"}
                      = time_ago_in_words(review.updated_at)
                    %li.friends
                      %a{:href => "/locations/#{review.location.id}/reviews", :style => "min-width:200px;max-width:200px;color:#2A282D;"}
                        = review.message[0, 50] + ".."
            - else 
              %li
                You did not give any review yet!!
