%h2 Add a review
- if $a.nil?
  - $id = params[:location_id].to_i
  - $a = 1
= form_for([@location, @review], :html => {:multipart => true}) do |f|
  %div.centered
    - if !@review.errors[:terms_of_service].blank?
      %div.centered{:style => "width:973px;color:red;padding-bottom:10px;"}
        Terms & conditions 
        = @review.errors[:terms_of_service].first
        
    %div.centered{:style=>"width:973px;"}
      %b Add Photos             
      #location_photos
        = f.fields_for :location_photos, @location do |photo|                          
          = render 'locations/location_photos_fields', :f => photo
          .links          
          = link_to_add_association "Add More", f, :location_photos,:partial => 'locations/location_photos_fields',:data=>{"association-insertion-method"=>"after"},:id=>'location_photos'
        
      %br/
    
      = f.text_area :message, :style => "border:solid 1px #ccc;width:620px;height:120px;"
      %br/
      %h2{:style=>"color:#6E6E6E;"} Agent review
      %div.agent_review
        = f.text_area :agent_review, :size => "50x5"
      %br
      = f.check_box :terms_of_service
      %a{:href => "/terms-and-conditions",:target=>"_blank"} Accept terms & conditions
      %br
      = f.submit 'Add review'

      = f.submit 'Preview', :onclick => "this.form.action='new_preview';"
